
<p-accordion [activeIndex]="0">
  <p-accordionTab header="Direccion del viento">
      <p>
        {{deg}}°
      </p>
  </p-accordionTab>
  <p-accordionTab header="Velocidad del viento">
      <p>
          {{speed}} m/s
      </p>
  </p-accordionTab>
  <p-accordionTab header="Temperatura actual">
      <p>
          {{temp}} °C
      </p>
  </p-accordionTab>
  <p-accordionTab header="Temperatura Maxima">
      <p>
          {{temp_max}} °C
      </p>
  </p-accordionTab>
  <p-accordionTab header="Fecha de registro">
      <p>
          {{timeQuery}}
      </p>
  </p-accordionTab>
</p-accordion>
