<div class="background">
  <div class="contens justify-content-center align-items-center flex h-10rem">
    <div class="grid w-6 text-center">
      <div class="col text-center" *ngFor="let button of buttons">
        <app-button [label]="button"></app-button>
      </div>
    </div>
  </div>

  <div class="grid nested-grid">
    <div class="col-8">
      <div class="grid">
        <div class="col-12">
          <app-card></app-card>
        </div>
        <div class="col-12">
          <app-card></app-card>
        </div>
      </div>
    </div>
    <div class="col-4"><app-acordeon></app-acordeon></div>
  </div>
</div>
