<div class="background">
  <div class="city">
    <a class="button" href="">Bogota</a>
    <a class="button" href="">Cali</a>
    <a class="button" href="">Barranquilla</a>
    <a class="button" href="">Medellin</a>
  </div>
  <div class="content">
    <div class="dates-group">
      <div class="date">
        <div class="information">
          <div class="principal">
            <div class="awesome-weather-header">Medellin</div>
            <div class="awesome-weather-current-temp">
              <strong>29<sup>°</sup></strong>
            </div>
          </div>
          <div class="desciption">
            <div class="title-date">Temperatura</div>
            <div class="letter-date">Min 23° • Max 29°</div>
            <div class="letter-date">Humedad: 87%</div>
          </div>
        </div>
      </div>
      <div class="date">
        <div class="information">

          <div class="principal">
            <div class="awesome-weather-header">Medellin</div>
            <div class="awesome-weather-current-temp">
              <strong>29<sup>°</sup></strong>
            </div>
          </div>
          <div class="desciption">
            <div class="title-date">Viento</div>
            <div class="letter-date">Velocidad: 87%</div>
            <div class="letter-date">Deg: 4m/s SSW</div>
            <div class="letter-date">Long: 16 • Lat: 10</div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-list"></div>
  </div>
</div>
